body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1,
h3 {
  text-align: center;
}

.question {
  margin: 20px 0;
}

.options label {
  display: block;
  margin-bottom: 5px;
}

.result {
  display: none;
  color: #8e662e;
  background-color: #fcefdc;
  padding: 5px;
  margin-top: 20px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.score {
  font-size: 1.5em;
  display: none;
  margin-top: 20px;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
  width: 100px;
  height: 100px;
  line-height: 60px;
  font-weight: bold;
}

.pass {
  background-color: green;
  color: white;
}

.fail {
  background-color: red;
 
